<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #7f06f7;">Book Title</label>
                    <input name="name"[(ngModel)]="name"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #7f06f7;">Author</label>
                    <input name="author"[(ngModel)]="author" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label" style="
                    color: #7f06f7;">Description</label>
                    <input name="Description"[(ngModel)]="Description"   type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #7f06f7;">Publisher</label>
                    <input name="Publisher"[(ngModel)]="Publisher"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #7f06f7;">language</label>
                    <input name="language"[(ngModel)]="language"   type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"style="
                    color: #7f06f7;">Address</label>
                    <textarea name="address"[(ngModel)]="address"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #7f06f7;">Released Year</label>
                    <input name="releasedyear"[(ngModel)]="releasedyear"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #7f06f7;">Price</label>
                    <input name="price"[(ngModel)]="price"  type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label" style="
                    color: #7f06f7;">Upload File</label>
                    <input  name="image"[(ngModel)]="image" type="file" name="" id="" class="form-control">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button (click)="readValue()"  class="btn btn-primary" type="button">Add</button>
                  </div>
            </div>
        </div>
    </div>
</div>

