<div class="container">
    <div class="row">
        <h2>Admin Login</h2>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <label for="" class="formlabel">Username</label>
                   <input name="Username"[(ngModel)]="Username" type="text" class="form-control"> 
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label">Password</label>
                    <input name="password"[(ngModel)]="password"  type="password" name="" id="" class="form-control">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button (click)="readValue()"  class="btn btn-success">Login</button>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a class="" routerLink="/userreg">user signup</a>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a class="" routerLink="/userlogin">user login</a>
                </div>
            </div>
        </div>
    </div>
</div>


